@define-color cc-bg rgba(78, 52, 136, 0.67);

@define-color noti-border-color rgba(78, 52, 136, 1.0);
@define-color noti-bg #694ca4;
@define-color noti-bg-hover #7254af;
@define-color noti-bg-focus rgba(78, 52, 136, 0.67);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);

@define-color bg-selected #9675d2;

@define-color fg #fbfafc;

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  padding: 0;
  box-shadow: none;
  color: @fg;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: @noti-close-bg;
  color: @fg;
  text-shadow: none;
  padding: 0 4px;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  color: @fg;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: @fg;
  border-radius: 12px;
}

.summary {
  color: @fg;
  text-shadow: none;
}

.time {
  color: @fg;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  background: transparent;
  color: @fg;
  text-shadow: none;
}

.top-action-title {
  color: @fg;
  text-shadow: none;
}

.control-center-clear-all {
  color: @fg;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}

.control-center-clear-all:hover {
  background: @noti-bg-hover;
}

.control-center-dnd {
  border-radius: 12px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}

.control-center-dnd slider {
  background: @noti-bg-hover;
}

.control-center {
  background: @cc-bg;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}
